a {
    text-decoration: none;
    color: black;
}
.active {
    color: blue;
}
.rasa { width: 300px;
    padding: 10px;
    margin: 0;
    display: flex;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    
}
.right { width: 700px;
    padding: 10px;
    border-left: 2px solid rgb(158, 148, 148);
    margin: 0;
    display: flex;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
img {
    border-radius: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px; 
    
}